.container{
  height: 100%;
  width: 100%;
  /* background-image: url(./background.jpg);background-size: cover; */
}
body{
  background-image: url(./background.jpg);
  background-size: cover;
}
.nav-bar{
  height: 15vh;
  width: 100vw;
  background-color: rgba(203, 175, 14, 0.851);
}
.nav-left{
  display: flex;
  gap: 40px;
  align-items: center;
}
.logo{
  height: 15vh;
  width: 10vw;
  margin: 0.5vh; 
}
.hero-section{
  
 text-align: center;
}

.box{
  height:500px;
  width: 500px;
  background-color: rgba(203, 175, 14, 0.851);
  margin-left: 35%;
}
.box img{
  padding: 0%;
}

.hero-section img{
   border-radius: 100px;
}
